In [1]:
import mplfinance as mpf
import yfinance as yf
import pandas as pd
import ta
import matplotlib.pyplot as plt
import re

In [2]:
colnames=['Datetime','Open','High','Low','Close','Volume']
spy=pd.read_csv("SPY_5min.txt",names=colnames)

In [3]:
spy.index=pd.to_datetime(spy["Datetime"])

In [4]:
spy.drop("Datetime",axis=1,inplace=True)

In [5]:
spy

                         Open      High       Low     Close  Volume
Datetime
2005-01-03 08:00:00   87.0896   87.0896   87.0467   87.0538   24600
2005-01-03 08:05:00   87.0538   87.0538   87.0395   87.0395   12900
2005-01-03 08:10:00   87.0323   87.0323   87.0323   87.0323    5000
2005-01-03 08:15:00   87.0395   87.0395   87.0395   87.0395    2200
2005-01-03 08:20:00   87.0395   87.0467   87.0395   87.0467    6200
...                       ...       ...       ...       ...     ...
2022-11-25 16:35:00  402.2000  402.2000  402.1700  402.1700    3746
2022-11-25 16:40:00  402.1700  402.2000  402.1500  402.2000    4248
2022-11-25 16:45:00  402.2000  402.2800  402.2000  402.2000    2900
2022-11-25 16:50:00  402.2000  402.2000  402.2000  402.2000     643
2022-11-25 16:55:00  402.2800  402.3000  402.0000  402.0100   15177

[779024 rows x 5 columns]

In [6]:
# do not need pre-market data and after hours data
# only need intra day data as options can only be played in intraday
# intra day period in EST is 9:30-4:00

In [7]:
hours=[]
for i in range(len(spy)):
    if spy.index[i].hour==9:
        if spy.index[i].minute>=30:
            hours.append('intraday')
        else:
            hours.append('notintraday')
    elif spy.index[i].hour>=10 and spy.index[i].hour<16:
        hours.append('intraday')
    else:
        hours.append('notintraday')

In [8]:
spy["hours"]=hours

In [9]:
spy=spy[spy["hours"]=="intraday"]

In [10]:
spy.to_csv('SPY_intraday.csv')