In [6]:
import matplotlib.pyplot as plt
import yfinance as yf
import pandas as pd

In [7]:
def VWAP(DF):
    df=DF.copy()
    df["typ"]=(df["High"]+df["Low"]+df["Close"])/3
    df["typ_vol"]=df["typ"]*df["Volume"]
    df["cum_typ_vol"]=df["typ_vol"].cumsum()
    df["cum_vol"]=df["Volume"].cumsum()
    df["vwap"]=df["cum_typ_vol"]/df["cum_vol"]
    return df["vwap"]

In [8]:
ticker='spy'

In [9]:
stock_intraday=pd.read_csv("spy_3min.csv")
stock_intraday["Datetime"]=pd.to_datetime(stock_intraday["Datetime"])
stock_intraday["Adj Close"]=stock_intraday["Close"]
#might drop "Close"
stock_intraday.index=stock_intraday["Datetime"]
#might drop "Datetime"
stock_intraday

,Unnamed: 0,Datetime,Open,High,Low,Close,Volume,Adj Close
Datetime,,,,,,,,
2005-01-03 08:30:00,0,2005-01-03 08:30:00,87.0682,87.0753,87.0682,87.0682,193500,87.0682
2005-01-03 08:33:00,1,2005-01-03 08:33:00,87.0682,87.0896,87.0682,87.0753,83500,87.0753
2005-01-03 08:36:00,2,2005-01-03 08:36:00,87.0467,87.0467,87.0467,87.0467,2000,87.0467
2005-01-03 08:39:00,3,2005-01-03 08:39:00,NaN,NaN,NaN,NaN,0,NaN
2005-01-03 08:42:00,4,2005-01-03 08:42:00,87.0467,87.0467,87.0395,87.0395,1600,87.0395
...,...,...,...,...,...,...,...,...
2022-11-11 15:45:00,674405,2022-11-11 15:45:00,398.7900,399.0400,398.6800,398.8800,1298978,398.8800
2022-11-11 15:48:00,674406,2022-11-11 15:48:00,398.8700,399.3500,398.7700,399.0800,1184563,399.0800
2022-11-11 15:51:00,674407,2022-11-11 15:51:00,399.0900,399.2100,398.5700,399.1100,1198641,399.1100
2022-11-11 15:54:00,674408,2022-11-11 15:54:00,399.1000,399.1300,398.3450,398.4400,1420071,398.4400
2022-11-11 15:57:00,674409,2022-11-11 15:57:00,398.4400,398.6300,398.1600,398.5000,3396674,398.5000

In [10]:
#stock_intraday=yf.download(ticker,period='60d',interval='5m')
#stock_intraday

In [11]:
import yfinance as yf
stock_daily=yf.download(ticker,period='max',interval='1d')
stock_daily

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1993-01-29,43.968750,43.968750,43.750000,43.937500,25.218218,1003200
1993-02-01,43.968750,44.250000,43.968750,44.250000,25.397581,480500
1993-02-02,44.218750,44.375000,44.125000,44.343750,25.451393,201300
1993-02-03,44.406250,44.843750,44.375000,44.812500,25.720423,529400
1993-02-04,44.968750,45.093750,44.468750,45.000000,25.828054,531500
...,...,...,...,...,...,...
2022-12-22,383.049988,386.209991,374.769989,380.720001,380.720001,100120900
2022-12-23,379.649994,383.059998,378.029999,382.910004,382.910004,59761100
2022-12-27,382.790009,383.149994,379.649994,381.399994,381.399994,51638200
2022-12-28,381.329987,383.390015,376.420013,376.660004,376.660004,70911500
2022-12-29,379.630005,384.339996,379.079987,383.440002,383.440002,65947901

In [12]:
stock_daily.index[0]

Timestamp('1993-01-29 00:00:00')

In [13]:
stock_weekly=yf.download(ticker,period="max",interval='1wk')
stock_weekly

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1993-01-25,43.968750,43.968750,43.750000,43.937500,25.218233,1003200.0
1993-02-01,43.968750,45.093750,43.968750,44.968750,25.810123,2234800.0
1993-02-08,44.968750,45.125000,44.531250,44.593750,25.594873,1159800.0
1993-02-15,44.468750,44.468750,42.812500,43.562500,25.002989,998700.0
1993-02-22,43.687500,44.437500,43.468750,44.406250,25.487267,1024300.0
...,...,...,...,...,...,...
2022-12-12,394.109985,410.489990,381.040009,383.269989,381.518066,544770000.0
2022-12-16,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-19,383.470001,387.410004,374.769989,382.910004,382.910004,392354700.0
2022-12-26,382.790009,383.390015,376.420013,376.660004,376.660004,122549700.0
2022-12-29,379.630005,384.339996,379.079987,383.440002,383.440002,65947901.0

In [14]:
stock_monthly=yf.download(ticker,period="max",interval='1mo')

[*********************100%***********************]  1 of 1 completed

In [15]:
def pivot_daily(df):
    """
    input=1d dataframe
    """
    df["PP"]=round((df["High"].shift(1)+df["Low"].shift(1)+df["Close"].shift(1))/3,2)
    df["BC"]=round((df["High"].shift(1)+df["Low"].shift(1))/2,2)
    df["TC"]=round((df["PP"]-df["BC"])+df["PP"],2)
    df["R1"]=round(df["PP"]*2-df["Low"].shift(1),2)
    df["S1"]=round(df["PP"]*2-df["High"].shift(1),2)
    df["R2"]=round(df["PP"]+(df["High"].shift(1)-df["Low"].shift(1)),2)
    df["S2"]=round(df["PP"]-(df["High"].shift(1)-df["Low"].shift(1)),2)
    df["R3"]=round(df["PP"]*2+(df["High"].shift(1)-2*df["Low"].shift(1)),2)
    df["S3"]=round(df["PP"]*2-(2*df["High"].shift(1)-df["Low"].shift(1)),2)
    df["R4"]=round(df["R3"]+(df["R2"]-df["R1"]),2)
    df["S4"]=round(df["S3"]-(df["S1"]-df["S2"]),2)
    return df

In [16]:
def pivot_weekly(df):
    """
    input=1 week dataframe
    """
    df["PP"]=round((df["High"].shift(1)+df["Low"].shift(1)+df["Close"].shift(1))/3,2)
    #df["BC"]=round((df["High"].shift(1)+df["Low"].shift(1))/2,2)
    #df["TC"]=round((df["PP"]-df["BC"])+df["PP"],2)
    df["R1"]=round(df["PP"]*2-df["Low"].shift(1),2)
    df["S1"]=round(df["PP"]*2-df["High"].shift(1),2)
    df["R2"]=round(df["PP"]+(df["High"].shift(1)-df["Low"].shift(1)),2)
    df["S2"]=round(df["PP"]-(df["High"].shift(1)-df["Low"].shift(1)),2)
    df["R3"]=round(df["PP"]*2+(df["High"].shift(1)-2*df["Low"].shift(1)),2)
    df["S3"]=round(df["PP"]*2-(2*df["High"].shift(1)-df["Low"].shift(1)),2)
    return df

In [17]:
def pivot_monthly(df):
    """
    input=1 month dataframe
    """
    df["PP"]=round((df["High"].shift(1)+df["Low"].shift(1)+df["Close"].shift(1))/3,2)
    #df["BC"]=round((df["High"].shift(1)+df["Low"].shift(1))/2,2)
    #df["TC"]=round((df["PP"]-df["BC"])+df["PP"],2)
    df["R1"]=round(df["PP"]*2-df["Low"].shift(1),2)
    df["S1"]=round(df["PP"]*2-df["High"].shift(1),2)
    df["R2"]=round(df["PP"]+(df["High"].shift(1)-df["Low"].shift(1)),2)
    df["S2"]=round(df["PP"]-(df["High"].shift(1)-df["Low"].shift(1)),2)
    df["R3"]=round(df["PP"]*2+(df["High"].shift(1)-2*df["Low"].shift(1)),2)
    df["S3"]=round(df["PP"]*2-(2*df["High"].shift(1)-df["Low"].shift(1)),2)
    return df

In [18]:
# call the pivot in daily timeframe daily

In [19]:
stock_daily["week"]=stock_daily.index.week

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_11288/2912323420.py:1: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series. To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  stock_daily["week"]=stock_daily.index.week

In [20]:
stock_daily["month"]=stock_daily.index.month

In [21]:
stock_daily["year"]=stock_daily.index.year

In [22]:
stock_daily

,Open,High,Low,Close,Adj Close,Volume,week,month,year
Date,,,,,,,,,
1993-01-29,43.968750,43.968750,43.750000,43.937500,25.218218,1003200,4,1,1993
1993-02-01,43.968750,44.250000,43.968750,44.250000,25.397581,480500,5,2,1993
1993-02-02,44.218750,44.375000,44.125000,44.343750,25.451393,201300,5,2,1993
1993-02-03,44.406250,44.843750,44.375000,44.812500,25.720423,529400,5,2,1993
1993-02-04,44.968750,45.093750,44.468750,45.000000,25.828054,531500,5,2,1993
...,...,...,...,...,...,...,...,...,...
2022-12-22,383.049988,386.209991,374.769989,380.720001,380.720001,100120900,51,12,2022
2022-12-23,379.649994,383.059998,378.029999,382.910004,382.910004,59761100,51,12,2022
2022-12-27,382.790009,383.149994,379.649994,381.399994,381.399994,51638200,52,12,2022
2022-12-28,381.329987,383.390015,376.420013,376.660004,376.660004,70911500,52,12,2022
2022-12-29,379.630005,384.339996,379.079987,383.440002,383.440002,65947901,52,12,2022

In [23]:
stock_weekly["week"]=stock_weekly.index.week
stock_weekly["year"]=stock_weekly.index.year

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_11288/37262271.py:1: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series. To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  stock_weekly["week"]=stock_weekly.index.week

In [24]:
stock_weekly

,Open,High,Low,Close,Adj Close,Volume,week,year
Date,,,,,,,,
1993-01-25,43.968750,43.968750,43.750000,43.937500,25.218233,1003200.0,4,1993
1993-02-01,43.968750,45.093750,43.968750,44.968750,25.810123,2234800.0,5,1993
1993-02-08,44.968750,45.125000,44.531250,44.593750,25.594873,1159800.0,6,1993
1993-02-15,44.468750,44.468750,42.812500,43.562500,25.002989,998700.0,7,1993
1993-02-22,43.687500,44.437500,43.468750,44.406250,25.487267,1024300.0,8,1993
...,...,...,...,...,...,...,...,...
2022-12-12,394.109985,410.489990,381.040009,383.269989,381.518066,544770000.0,50,2022
2022-12-16,NaN,NaN,NaN,NaN,NaN,NaN,50,2022
2022-12-19,383.470001,387.410004,374.769989,382.910004,382.910004,392354700.0,51,2022
2022-12-26,382.790009,383.390015,376.420013,376.660004,376.660004,122549700.0,52,2022
2022-12-29,379.630005,384.339996,379.079987,383.440002,383.440002,65947901.0,52,2022

In [25]:
stock_monthly["month"]=stock_monthly.index.month
stock_monthly["year"]=stock_monthly.index.year

In [26]:
stock_monthly

,Open,High,Low,Close,Adj Close,Volume,month,year
Date,,,,,,,,
1993-02-01,43.968750,45.125000,42.812500,44.406250,25.487261,5.417600e+06,2,1993
1993-03-01,44.562500,45.843750,44.218750,45.187500,25.935667,3.019200e+06,3,1993
1993-03-19,NaN,NaN,NaN,NaN,NaN,NaN,3,1993
1993-04-01,45.250000,45.250000,43.281250,44.031250,25.391378,2.697200e+06,4,1993
1993-05-01,44.093750,45.656250,43.843750,45.218750,26.076191,1.808000e+06,5,1993
...,...,...,...,...,...,...,...,...
2022-10-01,361.079987,389.519989,348.109985,386.209991,384.444611,2.024732e+09,10,2022
2022-11-01,390.140015,407.679993,368.790009,407.679993,405.816467,1.745985e+09,11,2022
2022-12-01,408.769989,410.489990,374.769989,376.660004,374.938293,1.584548e+09,12,2022
2022-12-16,NaN,NaN,NaN,NaN,NaN,NaN,12,2022
2022-12-29,379.630005,384.339996,379.079987,383.440002,383.440002,6.594790e+07,12,2022

In [27]:
len(stock_daily)

7535

In [28]:
pivot_daily

In [29]:
daily_pivot=pivot_daily(stock_daily)
weekly_pivot=pivot_weekly(stock_weekly)
monthly_pivot=pivot_monthly(stock_monthly)

In [30]:
daily_pivot

,Open,High,Low,Close,Adj Close,Volume,week,month,year,PP,BC,TC,R1,S1,R2,S2,R3,S3,R4,S4
Date,,,,,,,,,,,,,,,,,,,,
1993-01-29,43.968750,43.968750,43.750000,43.937500,25.218218,1003200,4,1,1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993-02-01,43.968750,44.250000,43.968750,44.250000,25.397581,480500,5,2,1993,43.89,43.86,43.92,44.03,43.81,44.11,43.67,44.25,43.59,44.33,43.45
1993-02-02,44.218750,44.375000,44.125000,44.343750,25.451393,201300,5,2,1993,44.16,44.11,44.21,44.35,44.07,44.44,43.88,44.63,43.79,44.72,43.60
1993-02-03,44.406250,44.843750,44.375000,44.812500,25.720423,529400,5,2,1993,44.28,44.25,44.31,44.44,44.18,44.53,44.03,44.68,43.94,44.77,43.79
1993-02-04,44.968750,45.093750,44.468750,45.000000,25.828054,531500,5,2,1993,44.68,44.61,44.75,44.98,44.52,45.15,44.21,45.45,44.05,45.62,43.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-22,383.049988,386.209991,374.769989,380.720001,380.720001,100120900,51,12,2022,385.44,385.05,385.83,388.19,383.47,390.16,380.72,392.91,378.75,394.88,376.00
2022-12-23,379.649994,383.059998,378.029999,382.910004,382.910004,59761100,51,12,2022,380.57,380.49,380.65,386.37,374.93,392.01,369.13,397.81,363.49,403.45,357.69
2022-12-27,382.790009,383.149994,379.649994,381.399994,381.399994,51638200,52,12,2022,381.33,380.54,382.12,384.63,379.60,386.36,376.30,389.66,374.57,391.39,371.27
2022-12-28,381.329987,383.390015,376.420013,376.660004,376.660004,70911500,52,12,2022,381.40,381.40,381.40,383.15,379.65,384.90,377.90,386.65,376.15,388.40,374.40
2022-12-29,379.630005,384.339996,379.079987,383.440002,383.440002,65947901,52,12,2022,378.82,379.91,377.73,381.22,374.25,385.79,371.85,388.19,367.28,392.76,364.88

In [31]:
weekly_pivot

,Open,High,Low,Close,Adj Close,Volume,week,year,PP,R1,S1,R2,S2,R3,S3
Date,,,,,,,,,,,,,,,
1993-01-25,43.968750,43.968750,43.750000,43.937500,25.218233,1003200.0,4,1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993-02-01,43.968750,45.093750,43.968750,44.968750,25.810123,2234800.0,5,1993,43.89,44.03,43.81,44.11,43.67,44.25,43.59
1993-02-08,44.968750,45.125000,44.531250,44.593750,25.594873,1159800.0,6,1993,44.68,45.39,44.27,45.80,43.56,46.52,43.14
1993-02-15,44.468750,44.468750,42.812500,43.562500,25.002989,998700.0,7,1993,44.75,44.97,44.38,45.34,44.16,45.56,43.78
1993-02-22,43.687500,44.437500,43.468750,44.406250,25.487267,1024300.0,8,1993,43.61,44.41,42.75,45.27,41.95,46.06,41.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-12,394.109985,410.489990,381.040009,383.269989,381.518066,544770000.0,50,2022,396.62,401.60,388.31,409.91,383.33,414.89,375.02
2022-12-16,NaN,NaN,NaN,NaN,NaN,NaN,50,2022,391.60,402.16,372.71,421.05,362.15,431.61,343.26
2022-12-19,383.470001,387.410004,374.769989,382.910004,382.910004,392354700.0,51,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-26,382.790009,383.390015,376.420013,376.660004,376.660004,122549700.0,52,2022,381.70,388.63,375.99,394.34,369.06,401.27,363.35
2022-12-29,379.630005,384.339996,379.079987,383.440002,383.440002,65947901.0,52,2022,378.82,381.22,374.25,385.79,371.85,388.19,367.28

In [32]:
weekly_pivot=weekly_pivot[:-1]

In [33]:
monthly_pivot

,Open,High,Low,Close,Adj Close,Volume,month,year,PP,R1,S1,R2,S2,R3,S3
Date,,,,,,,,,,,,,,,
1993-02-01,43.968750,45.125000,42.812500,44.406250,25.487261,5.417600e+06,2,1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993-03-01,44.562500,45.843750,44.218750,45.187500,25.935667,3.019200e+06,3,1993,44.11,45.41,43.10,46.42,41.80,47.72,40.78
1993-03-19,NaN,NaN,NaN,NaN,NaN,NaN,3,1993,45.08,45.94,44.32,46.70,43.46,47.57,42.69
1993-04-01,45.250000,45.250000,43.281250,44.031250,25.391378,2.697200e+06,4,1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993-05-01,44.093750,45.656250,43.843750,45.218750,26.076191,1.808000e+06,5,1993,44.19,45.10,43.13,46.16,42.22,47.07,41.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-01,361.079987,389.519989,348.109985,386.209991,384.444611,2.024732e+09,10,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-11-01,390.140015,407.679993,368.790009,407.679993,405.816467,1.745985e+09,11,2022,374.61,401.11,359.70,416.02,333.20,442.52,318.29
2022-12-01,408.769989,410.489990,374.769989,376.660004,374.938293,1.584548e+09,12,2022,394.72,420.65,381.76,433.61,355.83,459.54,342.87
2022-12-16,NaN,NaN,NaN,NaN,NaN,NaN,12,2022,387.31,399.85,364.13,423.03,351.59,435.57,328.41
2022-12-29,379.630005,384.339996,379.079987,383.440002,383.440002,6.594790e+07,12,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
monthly_pivot=monthly_pivot[:-1]

In [35]:
import datetime as dt
today=dt.datetime(2022,11,25)
print(today)
print(today.year)
print(today.month)
print(today.day)
print(today.isocalendar().week)    #getting the week of the year

2022-11-25 00:00:00
2022
11
25
47

In [36]:
weekly_pivot["week"]==today.isocalendar().week

Date
1993-01-25    False
1993-02-01    False
1993-02-08    False
1993-02-15    False
1993-02-22    False
              ...
2022-12-05    False
2022-12-12    False
2022-12-16    False
2022-12-19    False
2022-12-26    False
Name: week, Length: 1682, dtype: bool

In [37]:
weekly_pivot["year"]==today.year

Date
1993-01-25    False
1993-02-01    False
1993-02-08    False
1993-02-15    False
1993-02-22    False
              ...
2022-12-05     True
2022-12-12     True
2022-12-16     True
2022-12-19     True
2022-12-26     True
Name: year, Length: 1682, dtype: bool

In [38]:
for i in range(len(weekly_pivot)):
    if weekly_pivot["week"][i]==today.isocalendar().week and weekly_pivot["year"][i]==today.year:
        week_index=i

In [39]:
weekly_pivot.iloc[week_index]

Open         3.946400e+02
High         4.029300e+02
Low          3.926600e+02
Close        4.023300e+02
Adj Close    4.004909e+02
Volume       2.104792e+08
week         4.700000e+01
year         2.022000e+03
PP           3.961600e+02
R1           4.021800e+02
S1           3.900100e+02
R2           4.083300e+02
S2           3.839900e+02
R3           4.143500e+02
S3           3.778400e+02
Name: 2022-11-21 00:00:00, dtype: float64

In [40]:
weekly_pivot.iloc[week_index:]["R1"][0]

402.18

In [41]:
weekly_pivot.iloc[week_index:]["S1"][0]

390.01

In [42]:
weekly_pivot.iloc[week_index:]["PP"][0]

396.16

In [43]:
for j in range(len(monthly_pivot)):
    if monthly_pivot["month"][j]==today.month and monthly_pivot["year"][j]==today.year:
        month_index=j

In [44]:
monthly_pivot.iloc[month_index]

Open         3.901400e+02
High         4.076800e+02
Low          3.687900e+02
Close        4.076800e+02
Adj Close    4.058165e+02
Volume       1.745985e+09
month        1.100000e+01
year         2.022000e+03
PP           3.746100e+02
R1           4.011100e+02
S1           3.597000e+02
R2           4.160200e+02
S2           3.332000e+02
R3           4.425200e+02
S3           3.182900e+02
Name: 2022-11-01 00:00:00, dtype: float64

In [45]:
monthly_pivot.iloc[month_index:]['PP'][0]

374.61

In [46]:
monthly_pivot.iloc[month_index:]["S1"][0]

359.7

In [47]:
monthly_pivot.iloc[month_index:]["R1"][0]

401.11

In [48]:
date='2022-11-25'
daily_pivot.loc[date]["Low"]

401.5400085449219

In [44]:
daily_pivot.loc[date]["PP"]

401.55

In [45]:
daily_pivot.loc[date]["TC"]

401.98

In [46]:
daily_pivot.loc[date]["BC"]

401.12

In [47]:
daily_pivot.loc[date]["S1"]

400.17

In [48]:
daily_pivot.loc[date]["R1"]

403.79

In [49]:
daily_pivot.loc[date]["R2"]

405.17

In [50]:
daily_pivot.loc[date]["S2"]

397.93

In [51]:
daily_pivot.shift(1).loc[date]["High"]

402.92999267578125

In [52]:
#plot the candle stick

In [54]:
# import numpy as np
# import mplfinance as mpf
# mpf.plot(stock_intraday[date],type='candle',hlines=[400,np.nan])

In [55]:
import datetime as dt

date1=dt.datetime(2022,11,25)
date='2022-11-25'

#stock_intraday[date]["Adj Close"].plot()
#plot daily pivots
daily_pp=daily_pivot.loc[date]["PP"]
daily_bc=daily_pivot.loc[date]["BC"]
daily_tc=daily_pivot.loc[date]["TC"]

daily_r1=daily_pivot.loc[date]["R1"]
daily_s1=daily_pivot.loc[date]["S1"]

#if stock_daily.loc[date]["Low"]<daily_pivot.loc[date]["R2"]<stock_daily.loc[date]["High"]:
daily_r2=daily_pivot.loc[date]["R2"]
#else:
#daily_r2=np.nan
        
#if stock_daily.loc[date]["Low"]<daily_pivot.loc[date]["S2"]<stock_daily.loc[date]["High"]:
daily_s2=daily_pivot.loc[date]["S2"]
#else:
#daily_s2=np.nan

    
    

#plt.axhline(y=daily_pivot.loc[date]["PP"],color='b',linestyle='-')
#plt.axhline(y=daily_pivot.loc[date]["TC"],color='b',linestyle='--')
#plt.axhline(y=daily_pivot.loc[date]["BC"],color='b',linestyle='--')

#plt.axhline(y=daily_pivot.loc[date]["R1"],color='b',linestyle='--')
#plt.axhline(y=daily_pivot.loc[date]["S1"],color='b',linestyle='--')

i=0
j=0
#plot weekly pivots
for i in range(len(weekly_pivot)):
    if weekly_pivot["week"][i]==date1.isocalendar().week and weekly_pivot["year"][i]==date1.year:
        index_week=i
if stock_daily.loc[date]["Low"]<weekly_pivot.iloc[index_week:]["PP"][0]<stock_daily.loc[date]["High"]:
    weekly_pp=weekly_pivot.iloc[index_week:]["PP"][0]
else:
    weekly_pp=np.nan
    
if stock_daily.loc[date]["Low"]<weekly_pivot.iloc[index_week:]["R1"][0]<stock_daily.loc[date]["High"]:
    weekly_r1=weekly_pivot.iloc[index_week:]["R1"][0]
else:
    weekly_r1=np.nan
if stock_daily.loc[date]["Low"]<weekly_pivot.iloc[index_week:]["S1"][0]<stock_daily.loc[date]["High"]:
    weekly_s1=weekly_pivot.iloc[index_week:]["S1"][0]
else:
    weekly_s1=np.nan

    
for j in range(len(monthly_pivot)):
    if monthly_pivot["month"][j]==date1.month and monthly_pivot["year"][j]==date1.year:
        index_month=j
        
#plot monthly pivots
if stock_daily.loc[date]["Low"]<monthly_pivot.iloc[index_month:]['PP'][0]<stock_daily.loc[date]["High"]:
    monthly_pp=monthly_pivot.iloc[index_month:]['PP'][0]
else:
    monthly_pp=np.nan
if stock_daily.loc[date]["Low"]<monthly_pivot.iloc[index_month:]['R1'][0]<stock_daily.loc[date]["High"]:
    monthly_r1=monthly_pivot.iloc[index_month:]['R1'][0]
else:
    monthly_r1=np.nan
if stock_daily.loc[date]["Low"]<monthly_pivot.iloc[index_month:]['S1'][0]<stock_daily.loc[date]["High"]:
    monthly_s1=monthly_pivot.iloc[index_month:]['S1'][0]
else:
    monthly_s1=np.nan

    
yes_high=daily_pivot.shift(1).loc[date]["High"]
yes_low=daily_pivot.shift(1).loc[date]["Low"]

mpf.plot(stock_intraday[date],type='candle',
         hlines=dict(hlines=[daily_pp,daily_bc,daily_tc,daily_r1,daily_s1,weekly_pp,weekly_r1,weekly_s1,monthly_pp,monthly_r1,monthly_s1,yes_high,yes_low],
                    colors=['b','b','b','b','b','r','r','r','g','g','g','k','k'],
                    linestyle=['-','--','--','--','--','-','--','--','-','--','--','-','-']),
         title=date,
        savefig='testsave.png')

KeyError: '2022-11-25'

In [56]:
#subset the stock
stock_daily=stock_daily["2022"]
stock_daily

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/412655975.py:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  stock_daily=stock_daily["2022"]

,Open,High,Low,Close,Adj Close,Volume,week,month,year,PP,BC,TC,R1,S1,R2,S2,R3,S3
Date,,,,,,,,,,,,,,,,,,
2022-01-03,476.299988,477.850006,473.850006,477.709991,470.083679,72668200,1,1,2022,475.50,475.76,475.24,476.33,474.14,477.69,473.31,478.52,471.95
2022-01-04,479.220001,479.980011,475.579987,477.549988,469.926208,71178700,1,1,2022,476.47,475.85,477.09,479.09,475.09,480.47,472.47,483.09,471.09
2022-01-05,477.160004,477.980011,468.279999,468.380005,460.902618,104538900,1,1,2022,477.70,477.78,477.62,479.82,475.42,482.10,473.30,484.22,471.02
2022-01-06,467.890015,470.820007,465.429993,467.940002,460.469666,86858900,1,1,2022,471.55,473.13,469.97,474.82,465.12,481.25,461.85,484.52,455.42
2022-01-07,467.950012,469.200012,464.649994,466.089996,458.649200,85111600,1,1,2022,468.06,468.12,468.00,470.69,465.30,473.45,462.67,476.08,459.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-16,385.179993,386.579987,381.040009,383.269989,383.269989,119764500,50,12,2022,390.92,391.57,390.27,393.95,386.59,398.28,383.56,401.31,379.23
2022-12-19,383.470001,383.820007,378.279999,380.019989,380.019989,79878100,51,12,2022,383.63,383.81,383.45,386.22,380.68,389.17,378.09,391.76,375.14
2022-12-20,379.230011,382.230011,377.850006,380.540009,380.540009,74427200,51,12,2022,380.71,381.05,380.37,383.14,377.60,386.25,375.17,388.68,372.06
2022-12-21,383.250000,387.410004,382.690002,386.230011,386.230011,78167400,51,12,2022,380.21,380.04,380.38,382.57,378.19,384.59,375.83,386.95,373.81
2022-12-22,383.049988,386.209991,374.769989,380.720001,380.720001,99922600,51,12,2022,385.44,385.05,385.83,388.19,383.47,390.16,380.72,392.91,378.75

In [57]:
# for i in range(len(stock_daily)):
#     date=stock_daily.index[i]
#     break

In [58]:
# #now.strftime("%m/%d/%Y, %H:%M:%S")
# date=date.strftime("%Y-%m-%d")
# date

In [59]:
#stock_intraday[date]["Adj Close"].plot()

In [61]:
for i in range(len(stock_daily)):
    date_datetime=stock_daily.index[i]
    date=date_datetime.strftime("%Y-%m-%d")
    
    print(date)
    #plot daily pivots
    daily_pp=daily_pivot.loc[date]["PP"]
    daily_bc=daily_pivot.loc[date]["BC"]
    daily_tc=daily_pivot.loc[date]["TC"]

    daily_r1=daily_pivot.loc[date]["R1"]
    daily_s1=daily_pivot.loc[date]["S1"]
    
    #if stock_daily.loc[date]["Low"]<daily_pivot.loc[date]["R2"]<stock_daily.loc[date]["High"]:
    daily_r2=daily_pivot.loc[date]["R2"]
    #else:
    #daily_r2=np.nan
        
    #if stock_daily.loc[date]["Low"]<daily_pivot.loc[date]["S2"]<stock_daily.loc[date]["High"]:
    daily_s2=daily_pivot.loc[date]["S2"]
    #else:
    #daily_s2=np.nan    

    i=0
    j=0
    #plot weekly pivots
    for i in range(len(weekly_pivot)):
        if weekly_pivot["week"][i]==date1.isocalendar().week and weekly_pivot["year"][i]==date1.year:
            index_week=i
    if stock_daily.loc[date]["Low"]<weekly_pivot.iloc[index_week:]["PP"][0]<stock_daily.loc[date]["High"]:
        weekly_pp=weekly_pivot.iloc[index_week:]["PP"][0]
    else:
        weekly_pp=np.nan

    if stock_daily.loc[date]["Low"]<weekly_pivot.iloc[index_week:]["R1"][0]<stock_daily.loc[date]["High"]:
        weekly_r1=weekly_pivot.iloc[index_week:]["R1"][0]
    else:
        weekly_r1=np.nan
    if stock_daily.loc[date]["Low"]<weekly_pivot.iloc[index_week:]["S1"][0]<stock_daily.loc[date]["High"]:
        weekly_s1=weekly_pivot.iloc[index_week:]["S1"][0]
    else:
        weekly_s1=np.nan

    for j in range(len(monthly_pivot)):
        if monthly_pivot["month"][j]==date1.month and monthly_pivot["year"][j]==date1.year:
            index_month=j

    #plot monthly pivots
    if stock_daily.loc[date]["Low"]<monthly_pivot.iloc[index_month:]['PP'][0]<stock_daily.loc[date]["High"]:
        monthly_pp=monthly_pivot.iloc[index_month:]['PP'][0]
    else:
        monthly_pp=np.nan
    if stock_daily.loc[date]["Low"]<monthly_pivot.iloc[index_month:]['R1'][0]<stock_daily.loc[date]["High"]:
        monthly_r1=monthly_pivot.iloc[index_month:]['R1'][0]
    else:
        monthly_r1=np.nan
    if stock_daily.loc[date]["Low"]<monthly_pivot.iloc[index_month:]['S1'][0]<stock_daily.loc[date]["High"]:
        monthly_s1=monthly_pivot.iloc[index_month:]['S1'][0]
    else:
        monthly_s1=np.nan

    yes_high=daily_pivot.shift(1).loc[date]["High"]
    yes_low=daily_pivot.shift(1).loc[date]["Low"]

    mpf.plot(stock_intraday[date],type='candle',
             hlines=dict(hlines=[daily_pp,daily_bc,daily_tc,daily_r1,daily_s1,daily_r2,daily_s2,weekly_pp,weekly_r1,weekly_s1,monthly_pp,monthly_r1,monthly_s1,yes_high,yes_low],
                        colors=['b','b','b','b','b','c','c','r','r','r','g','g','g','k','k'],
                        linestyle=['-','--','--','--','--','--','--','-','--','--','-','--','--','-','-']),
             title=date,
            savefig='pivot_candle_all_level_visible/2022/'+date+'.png')
    #plt.clf()

2022-01-03
2022-01-04
2022-01-05

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-01-06
2022-01-07
2022-01-10
2022-01-11

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-01-12
2022-01-13
2022-01-14

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-01-18
2022-01-19
2022-01-20

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-01-21
2022-01-24
2022-01-25

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-01-26
2022-01-27
2022-01-28

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-01-31
2022-02-01
2022-02-02

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-02-03
2022-02-04
2022-02-07

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-02-08
2022-02-09
2022-02-10

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-02-11
2022-02-14
2022-02-15
2022-02-16

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-02-17
2022-02-18
2022-02-22

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-02-23
2022-02-24
2022-02-25

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-02-28
2022-03-01
2022-03-02

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-03-03
2022-03-04
2022-03-07

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-03-08
2022-03-09
2022-03-10

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-03-11
2022-03-14

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-03-15
2022-03-16
2022-03-17
2022-03-18

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-03-21
2022-03-22
2022-03-23

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-03-24
2022-03-25
2022-03-28
2022-03-29

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-03-30
2022-03-31
2022-04-01

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-04-04
2022-04-05
2022-04-06

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-04-07
2022-04-08
2022-04-11
2022-04-12
2022-04-13
2022-04-14

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-04-18
2022-04-19
2022-04-20
2022-04-21
2022-04-22
2022-04-25

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-04-26
2022-04-27
2022-04-28

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-04-29
2022-05-02
2022-05-03

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-05-04
2022-05-05
2022-05-06

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-05-09
2022-05-10
2022-05-11

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-05-12

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-05-13
2022-05-16
2022-05-17

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-05-18
2022-05-19
2022-05-20

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-05-23
2022-05-24
2022-05-25

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-05-26
2022-05-27
2022-05-31

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-06-01
2022-06-02
2022-06-03
2022-06-06

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-06-07
2022-06-08
2022-06-09

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-06-10
2022-06-13
2022-06-14

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-06-15
2022-06-16
2022-06-17
2022-06-21
2022-06-22
2022-06-23

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-06-24

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-06-27
2022-06-28
2022-06-29
2022-06-30

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-07-01
2022-07-05
2022-07-06

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-07-07
2022-07-08
2022-07-11
2022-07-12

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-07-13
2022-07-14
2022-07-15
2022-07-18

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-07-19
2022-07-20
2022-07-21
2022-07-22

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-07-25
2022-07-26
2022-07-27
2022-07-28

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-07-29
2022-08-01
2022-08-02
2022-08-03

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-08-04
2022-08-05
2022-08-08
2022-08-09

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-08-10
2022-08-11
2022-08-12
2022-08-15

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-08-16
2022-08-17
2022-08-18
2022-08-19

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-08-22
2022-08-23
2022-08-24
2022-08-25

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-08-26
2022-08-29
2022-08-30

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-08-31
2022-09-01
2022-09-02

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-09-06
2022-09-07
2022-09-08

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-09-09
2022-09-12
2022-09-13

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-09-14
2022-09-15
2022-09-16
2022-09-19

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-09-20
2022-09-21
2022-09-22

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-09-23
2022-09-26
2022-09-27

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-09-28
2022-09-29
2022-09-30

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-10-03
2022-10-04
2022-10-05
2022-10-06

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-10-07
2022-10-10
2022-10-11

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-10-12
2022-10-13
2022-10-14

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-10-17
2022-10-18
2022-10-19
2022-10-20
2022-10-21

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-10-24
2022-10-25
2022-10-26

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-10-27
2022-10-28
2022-10-31

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-11-01
2022-11-02
2022-11-03

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-11-04
2022-11-07
2022-11-08

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',
/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

2022-11-09
2022-11-10
2022-11-11
2022-11-14

/var/folders/0d/2q3_g9bj7tn1m1t1w5crmtvh0000gn/T/ipykernel_60235/2961503273.py:65: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  mpf.plot(stock_intraday[date],type='candle',

KeyError: '2022-11-14'